body {
    font-family: Assistant;
    font-size: 19px;
    /* line-height: 30px; */
    color: #5D5D5D;
    background-color: #F8F9FA;
}

.shadow-hero {
    box-shadow: 0 3px 40px rgb(0 0 0 / 0.14);
    
}

.card-zoom-atas {
    transition: transform 0.2s ease;
    border-radius: 10px;
    /* width: 300px; */
    /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); */
    /* box-shadow: 0 3px 30px rgb(0 0 0 / 2); */
    /* height: 510px; */
    /* border-top: 8px solid #935801;
    border-bottom: 8px solid #935801;
    border-radius: 24px; */
    
  }

.card-zoom-atas:hover {
    transform: scale(1.05);
}

.card-zoom {
    transition: transform 0.2s ease;
    /* box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18); */
    box-shadow: 0 3px 30px rgb(0 0 0 / 0.1);
    height: 510px;
    border-top: 8px solid #935801;
    border-bottom: 8px solid #935801;
    border-radius: 24px;
    
  }

.card-zoom:hover {
    transform: scale(1.05);
}

.shadow-custom {
    box-shadow: 0 3px 14px rgb(0 0 0 / 0.1);
}

#hero .rata {
    padding-left: 40px; 
    padding-right: 40px;
}

#regulasi .rata {
    padding-left: 40px; 
    padding-right: 40px;
}

#footer .rata {
    padding-left: 40px; 
    padding-right: 40px;
}

#langkah .rata {
    padding-left: 40px; 
    padding-right: 40px;
}

#jumlah .rata {
    padding-left: 40px; 
    padding-right: 40px;
}

#hero .hero  {
    background-size: cover;
}
/* 
.card-zoom-atas .card-body {
    flex: 1 1 auto;
    padding: 0px;
    color: var(--bs-card-color);
} */

.font-judul {
    font-family: ZCOOL XiaoWei;
    font-style: normal;
    color: #007367;
    line-height: 40px;
}

.card-zoom-atas .card-body {
        /* flex: 1 1 auto; */
        padding: 0 !important;
        /* color: var(--bs-card-color); */
}

.judul-2 {
    font-family: ZCOOL XiaoWei;
    font-style: normal;
    color: #007367;
    line-height: 40px;
    font-size: 32px;
}

.sub-judul {
    font-style: normal;
    color: #007367;
    line-height: 40px;
    font-size: 24px;
}

.btn-customm {
    background-color: #DD8505; 
    /* background-color: #ac6c0b;  */
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-left: 10px; */
    margin-bottom: -10px;
    
}


.custom-card {
    /* padding: 1.5em .5em .5em; */
    border-radius: 20em;
    border-color: none;
    text-align: center;
    flex: 1 1 auto;
    padding: 8px !important;
   
}


input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}

.btn-temukan {
    background-color: #DD8505; 
    color: white;
    /* padding-top: 0px; */
    /* padding-bottom: 0px; */
    /* margin-left: 10px; */
    /* margin-bottom: -10px; */
    
}


.btn-utama {
    font-size: 24px !important;
}


.footer-atas {
    padding-top: 240px;
    /* margin-top: 200px; */
}

.custom-border-1 {
    border-top: 3px;
    border-color: #5D5D5D;
    border-top: #5D5D5D;
    
}

.border-top-custom {
    border-top: 12px solid #DD8505 !important;
    width: 100px;
    /* margin-bottom: 10px; */
    /* border-radius: 30%; */
}

#ajukan .cover {
    height: 1000px;
}

#ajukan .custom-card-ajukan {
    height: 1000px;
}

#map {
     height: 640px; 
     width: 100%; 
     /* margin-left: 20px;
     margin-right: 20px; */
    }

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;  
}

.carousel .carousel-indicators .active {
    width: 20px;
    height: 20px;
    /* margin-bottom: 20px; */
    border-radius: 100%;     
    
}

.panah-testimoni {
    background-color: #86b7fe !important;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
}

.malioboro:hover {
    background-color: #DD8505 !important;
    transform: scale(2px);
    color: white;
   
}
/* 
img .dimana-custom {
    width: auto; 
    height:34px !important; 
    margin-left:3px;
} */

/* 
.malioboro .card-title:hover {
    color: white;
    transform: scale(2px);
} */

.ganti_bg{
    background-color: #DD8505 !important;
    color: white;
}

.ganti_bg .card-title{
    color: white;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

/* halaman login */
.bg-login {
    background-size: cover;
}